table {
  margin: 10px 0;
  overflow: hidden;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(162, 162, 162);

  
  td {
    padding: 3px;
  }

  thead {
    tr {
      background-color: rgba(168, 124, 83, 0.877);
    }
    td {
      padding: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: rgb(220, 220, 220);
    }
    tr:hover {
      background-color: rgb(162, 162, 162);
      cursor: pointer;
    }
  }
}