.confirm {
  &_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    z-index: 200;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.301);
  }

  &_body {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    min-width: 200px;
    max-width: 700px;
  }

  &_header,
  &_main {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    text-align: center;
  }
  &_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgba(168, 124, 83, 0.877);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
    }
  }
  
  &-footer button,
  &_btn {
    border: none;
    border-radius: 3px;
    background-color: rgba(168, 124, 83, 0.877);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
    }
  }
}